/* global */
body {
  background-color: #FAFAFA;
  color: #444;
  cursor: default;
  text-shadow: -2px 4px 4px #CCC;
  text-transform: uppercase;
  font-family: Codystar, sans-serif;
}
body.night {
  background-color: #444;
  color: #CACACA;
}
/* menu */
menu {
  padding:0;
}
menu li {
  border: none 1px #333;
  cursor:pointer;
  list-style: none none;
  padding: 1px;
}
menu li:hover {
  border: dotted 1px #333;
  padding: 0px;
  font-weight: bold;
}

.night menu li:hover {
  color: #FFD700;
  text-shadow: -2px 4px 10px #FFF1A8;
}
.night menu li:hover {
  border: dotted 1px #FFD700;
  color: #FFD700;
  text-shadow: -2px 4px 10px #FFF1A8;
}
